body {

	/* 日本語フォントの指定 */
	font-family: 'メイリオ',
	'Hiragino Kaku Gothic Pro', sans-serif;
	background-color: ##FFFFFF;
	margin: 0;
	color: #000000;
	font-size: 30px;
	line-height: 1.5;	/* line-height: 行間の値（正確には、フォントサイズと上下の余白合計値） ;  行間の指定*/
	text-align: center;
	font-family: cursive;  /*フォントの変更*/
}
/* containaer */
div#container    {
	width: 900px;		/* 表示させるサイトの幅を指定 */
	margin :0 auto;		/* サイトを中央揃えにする設定 */
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;

}


/* header */
header#pageheader	{
	padding: 15px 0 0;
	background-image: url(images/colorful-watercolor-paint-abstract-website-header.jpg);
}

header#pageheader h1{
	margin:0;
	padding: 0;
	float: left;
	
}

header p    {
	text-align: left;
	font-size: 15px;
	margin-top:0 0 98px 20px;
}


/* menu */
nav ul {
	list-style-type: none;  /* マーカーなし */
	margin: 0;
	padding: 0;
	font-size: 15px;
	overflow: hidden;
}

nav li:first-child a {
	border-left: solid px #FFFF00;
}

nav li {
	color: #000000;
	float: left;
	margin-right: 15px;
	width: 100px;
	text-align: center;
}

nav li a {
	color: #000000;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	
}
nav li a:link {
	color: #ffffff;
	text-decoration: none;
}

nav li a:visited {
	color: #000000;
	text-decoration: none;
}

nav li a:hover {
	color: #0000FF;
	text-decoration: none;
}

/* content */
article    {
	width: auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* 記事のヘッダー */
header#postheader h1    {
		font-size: 20px;
}

article h2    {
	font-size: 20px;
	text-align: left;
	
}

article p    {
	font-size: 15px;
	text-align: center;
	
}

article section    {
	font-size: 15px;
}

/* footer  display: block; */
footer	{color: #808080;
	margin-top: 25px;
	padding-top: 8px;
	padding-bottom: 8px;
	clear: both;
	border-top: solid 1px #808080;
	font-size: 15px;
}

small    {
	font-size: 15px;
	text-align: center;
	
}

div#toTop    {
	font-size: 15px;
}