body {

	/* 日本語フォントの指定 */
	font-family: 'メイリオ',
	'Hiragino Kaku Gothic Pro', sans-serif;
	background-color: ##FFFFFF;
	margin: 0;
	color: #000000;
	font-size: 15px;
	line-height: 2.5;	/* （フォントサイズと上下の余白合計値） ;  行間の指定*/
	font-family: 'Roboto Condensed', sans-serif;/*フォントの変更*/
}

/* containaer 表示させる横幅の指定*/
div#container    {
	width: 900px;		/* 表示させるサイトの幅を指定 */
	margin :0 auto;		/* サイトを中央揃えにする設定 */
	text-align: center;/*  */
}

/* ヘッダーの設定 */
header#pageheader	{
	padding: 15px 0 20;
	background-image: url(images/colorful-watercolor-paint-abstract-website-header.jpg);
}

/* ヘッダーの設定 サイト名の表示 */
header#pageheader h1{
	font-size: 60px;
	margin:0;
	padding: 0;
	padding-bottom: 0;
	text-align: left;
}

/*  ページタイトル下の文  */
header#pageheader p    {
	font-size: 20px;
	text-align: left;
	margin:0;
	padding: 0;
}

/***ナビゲーションメニュー ****************
回り込み防止*/
/* 回り込みを解除 */
nav   {
	clear: both;
}

/* ナビがヘッダー画像と重なって表示させる */
nav ul {
	list-style-type: none;    /*リストの○ぽちなくす*/
	padding: 0;
	font-size: 25px;
	overflow: hidden;
	clear: both;

}

/* 何設定？ */
nav ul li	{list-style-type: none;
	float: left}

/*ナビゲーションの設定*/
nav li {
	color: #000000;
	float: left;  /*左側に回り込み*/
	margin-right: 40px;   /* リンクの幅 */
	width: 100px;

}

/* リンクの文字 */
nav li a {
	color: #000000;   /* リンクの文字 */
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
}

nav li a:link {
	color: #ffffff;
	text-decoration: none;  /* リンクの文字の下線なし */
}

nav li a:visited {
	color: #000000;
	text-decoration: none;
}

/* カーソルを乗せたときに文字色の変化指定 */
nav li a:hover {
	color: #0000FF;
	text-decoration: none;
}

/* ↑ナビゲーションの適用↑ */

/* content */
article	{width: auto;    /* 領域の幅を自動設定 */
	margin-left: auto;
	margin-right: auto}

article header    {
	/*border: solid 1px #aaaaaa;   四角で囲い込み  ×あとで消す×  */
	margin: 20px 0px 10px;
	padding-left: 20px;
	text-align: left;
}

/* 記事のヘッダー */
article header h1    {
		font-size: 30px;
		background: none;  /* 背景に関する指定をまとめて行う */
		line-height: 45px;  /* 行の高さを指定する */
		font-weight: normal;
		clear: both;
}

/* chap5-1 */
article header p    {
	font-size: 16px;
	color: #444444;    /*文字の色*/
	text-align: left;
}

/*** 記事のヘッダー 設定終わり ***/

/* 各記事の設定　画像への回り込み解除 */
article section  {
	clear: both;
	/*border: solid 1px #aaaaaa;   あとで消す*/
	margin: 20px 0 10px;   /*外側の余白設定*/
	padding: 18px;        /*内側の余白設定*/
	border-radius: 5px;
	overflow: hidden;        /*セクション内に画像を収める*/
}

article section h1{
	font-size: 24px;
	font-weight: normal;   /*フォントの太さ指定*/
	line-height: 22px;   /*行の高さを指定*/
	padding-left: 0;
	margin-top: 0 10px 0 0;
	text-align: left;
}

article p	{
	font-size: 15px;
	line-height: 1.6;  /*行間の幅*/
	margin-top: 10px;
	margin-left: 0;
	margin-right: 0;
	text-align: left;
}

/* 画像の配置 chap4-6 
figure  {
	margin: 0;
}*/

/*  */
article section figure	{
	float: right;
	margin-left: 15px;
	margin-bottom: 0;}


/* footer   */
footer	{color: #808080;
	margin-top: 25px;
	padding-top: 8px;
	padding-bottom: 8px;
	clear: both;
	border-top: solid 1px #808080;
	font-size: 15px;
}

small    {
	font-size: 15px;
	text-align: center;
	
}

div#toTop    {
	font-size: 15px;
}

/* =================PC用の設定　始まり===============  */
/* @media only screen and (min-width:900px)    {
	article div[itemprop="articleBody"]    {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
}
}
/* =
article section    {
	width: 288px;
	margin-right: 18px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;

}





==============PC用の設定　始まり=============== */

